<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up form</title>
    <link rel="stylesheet" href="style.css" />
      <!-- https://icodethis.com/_next/image?url=%2Fimages%2Fprojects%2Fsignup_form_3.png&w=3840&q=75 -->

  </head>
  <body>
    <div class="container">
      <h2>Sign up for free</h2>

      <div class="forgooglelogo">
        <img class="googlelogo" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="google logo" />
        <p>Sign up with Google</p>
      </div>

      <div class="forsignbar">
        <div class="bar"></div>
        <p>OR SIGN UP WITH EMAIL</p>
        <div class="bar"></div>
      </div>
      <!-- form -->
      <form action="/submit" method="post" >

        <label for="Fname">Full Name</label>
        <input type="text" placeholder="EG. Marry Olhson" name="Fname" />

        <label for="Femail">Email Adress</label r>
        <input type="email" required placeholder="you@email.com" name="Femail"/>
        <button type="submit" >Get started</button>
      </form>
      <p>Already have an account? <a href="#">Login in</a></p>
    </div>
  </body>
</html>
